@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}


@keyframes slideOut {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes slideFrom {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);

    }
}

@keyframes opacion {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}